<form method="POST" action='{% url "edit_profile" %}'>
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Username</label>
            <input type="text" name="username" class="form-control" value="{{user.username}}">
        </div>
        <div class="col-md-6">
            <label class="form-label">Email Address</label>
            <input type="email" name="email" class="form-control" value="{{user.email}}">
        </div>
        <div class="col-12 mt-4">
            <h6 class="text-primary fw-bold">Change Password</h6>
            <hr>
        </div>
        <div class="col-md-6">
            <label class="form-label">New Password</label>
            <input type="password" name="password" class="form-control" placeholder="Leave blank to keep current">
        </div>
        <div class="col-md-6">
            <label class="form-label">Confirm New Password</label>
            <input type="password" name="confirm_password" class="form-control" placeholder="Confirm new password">
        </div>
        <div class="col-12 mt-4">
            <button type="submit" class="btn btn-primary px-4">Save Changes</button>
            <button type="reset" class="btn btn-outline-secondary ms-2">Cancel</button>
        </div>
    </div>
</form>