{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}

    {% if user.is_authenticated %}
        <div class="container my-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2 class="fw-bold text-primary">Your Cart</h2>
                <a href='{% url "profile" user.id %}' class="btn btn-primary btn-lg">View Full Cart</a>
            </div>
            {% if cart_products %}
                <div class="row g-4">
                    {% for cart_product in cart_products %}
                        <div class="col-md-4">
                            <div class="card h-60 w-auto">
                                <img src="{{cart_product.product.image.url}}"
                                class="card-img-top" alt="Product"
                                style="width: 100%; height: 80px; object-fit: contain;" >
                                <div class="card-body">
                                    <h5 class="card-title">{{cart_product.product.name}}</h5>
                                    <p class="card-text text-muted">{{cart_product.description}}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="h5 mb-0">₹{{cart_product.price}}</span>
                                        <a href='{% url "remove_cart_item" cart_product.id %}'><button class="btn btn-sm btn-outline-danger">Remove</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
            <h4 class="text-secondary">Sorry, You Don't Have Any Products In Your Cart...</h4>
            {% endif %}
        </div>
    {% endif %}
    

    <div class="bg-white py-5">
        <div class="container">
            <h3 class="mb-4 text-center">
                <a style="text-decoration:none; color:black;" href='{% url "trending_products" %}'>🔥 Trending Now</a>
            </h3>
            <div class="row g-4">
                {% for trending_product in trending_products %}
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card text-center p-3 h-100 shadow-sm">
                            <img src="{{trending_product.image.url}}" 
                                class="mx-auto mb-2" 
                                style="width: 100%; height: 200px; object-fit: contain;" 
                                alt="Trend">
                            <h6 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                {{trending_product.name}}
                            </h6>
                            <p class="text-success fw-bold">₹{{trending_product.price}}</p>
                            <a href='{% url "product_detail" trending_product.slug %}' class="btn btn-sm btn-outline-primary">Quick View</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="bg-white py-5">
        <div class="container">
            <h3 class="mb-4 text-center">
                <a style="text-decoration:none; color:black;" href='{% url "latest_products" %}'>Latest Products</a>
            </h3>
            <div class="row g-4">
                {% for latest_product in latest_products %} <div class="col-12 col-sm-6 col-md-3">
                        <div class="card text-center p-3 h-100 shadow-sm">
                            <img src="{{latest_product.image.url}}" 
                                class="mx-auto mb-2" 
                                style="width: 100%; height: 200px; object-fit: contain;" 
                                alt="Trend">
                            <h6 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                {{latest_product.name}}
                            </h6>
                            <p class="text-success fw-bold">₹{{latest_product.price}}</p>
                            <a href='{% url "product_detail" latest_product.slug %}' class="btn btn-sm btn-outline-primary">Quick View</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}
